/* Estilos generales */
* {
    box-sizing: border-box;
    transition: 0.5s;
}

:root {
    --azul1: #00A6FB;
    --azul2: #0582CA;
    --azul3: #006494;
    --azul4: #003554;
    --azul5: #051923;

    --grisclarito: rgb(155, 155, 155);;
}

::selection {
    color: white;
    background-color: black;
}



/* Estilos del cuerpo */
html {
    scroll-behavior: smooth;
    scroll-margin-top: 40px;
}

body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}
